@page "/add-goal"
@using System.ComponentModel.DataAnnotations
@inject GoalService GoalService

<div>
    <PageHeader BackIcon="true">
        <PageHeaderTitle>Add goal</PageHeaderTitle>
        <PageHeaderContent>
            <Form Model="@_model" OnFinish="@OnFinish">
                <FormItem Label="Name">
                    <Input @bind-Value="@context.Name"/>
                </FormItem>
                <FormItem Style="align-items: center" Label="Color">
                    <ColorPicker @bind-Value="@context.Color"/>
                </FormItem>
                <Button Block Type="@ButtonType.Primary" HtmlType="submit">
                    Add goal
                </Button>
            </Form>
        </PageHeaderContent>
    </PageHeader>
</div>

@code {

    class Model
    {
        [Required]
        public string Name { get; set; }
        
        [Required]
        public string Color { get; set; }
    }

    private Model _model = new();

    private void OnFinish()
    {
        var goal = GoalService.AddGoal(new()
        {
            Name = _model.Name,
            Color = _model.Color,
        });

        NotificationService.Success("Task added successfully!");

        NavigationManager.NavigateTo(GoalListPage.GetUrlWithSelectedGoal(goal));
    }

}