@page "/timer"
@using BeProductive.Modules.Timer.Infrastructure
@inject TimerService TimerService
@{
    Layout.Title = "Pomodoro timer";
}

<div class="timer-wrapper">
    <div class="timer">
        <span>@_duration.ToString("mm\\:ss")</span>
    </div>
    <div class="buttons">
        <Space>
            <SpaceItem>
                @* TODO: Using key to update button color, can't change at runtime. Maybe report a bug. *@
                <Button @key="_isRunning" Type="@ButtonType.Primary" Color=@(!_isRunning ? Color.Green7 : Color.None) Size="@ButtonSize.Large" Disabled=@(_isRunning) OnClick="OnStartClick">Start</Button>
            </SpaceItem>
            <SpaceItem>
                <Button Type="@ButtonType.Primary" Danger Size="@ButtonSize.Large" Disabled=@(!_isRunning) OnClick="OnStopClick">Stop</Button>
            </SpaceItem>
        </Space>
    </div>
</div>

@code {
    private bool _isRunning = false;

    private TimeSpan _duration = TimeSpan.FromSeconds(5);
    
    private DateTime _startTime;
    private DateTime _endTime;
    
    private async Task OnStartClick()
    {
        _startTime = DateTime.Now;
        _endTime = _startTime + _duration;
        _isRunning = true;
        await TimerService.Start(_duration);
    }
    private void OnStopClick()
    {
        _isRunning = false;
    }
}