<div Class="@(Selected ? "selected" : "")" @onclick="OnClick">
    <Card Class="card" Bordered="true" Size="small" Hoverable>
        <Space>
            <SpaceItem>
                <Avatar Size="large" Style=@($"background: {@Goal.Color}") />
            </SpaceItem>
            <SpaceItem>
                <Text Strong Style="font-size: 18px">
                    @Goal.Name
                </Text>
                <Text Disabled>@Goal.Id</Text>
            </SpaceItem>
        </Space>
        <Button Type="@ButtonType.Default" Style="width: 40px; height: 40px; float: right; z-index: 1" OnClick="@() => { }">&nbsp;</Button>
    </Card>
</div>

@code {

    [Parameter]
    public Goal Goal { get; set; }

    [Parameter]
    public bool Selected { get; set; }

    [Parameter]
    public EventCallback<MouseEventArgs> OnClick { get; set; }

}