@using BeProductive.Modules.Goals.Domain
@using Microsoft.AspNetCore.Mvc.Razor
@using Serilog

<div class="wrapper">
    <Popover
        @ref="_popover"
        Trigger=@(new Trigger[] { Trigger.Click })
        Placement="Placement.Left">
        <ChildContent>
            <LottieWrapper @ref="_animation" Path="/animations/2023-particle-explosion-green.json" Size="400%" Style="z-index: 11">
                <LottieWrapper @ref="_animation2" Path="/animations/7598-particle-explosion.json" Size="600%" Style="z-index: 1" Context="anim2">
                    <Button
                        Class=@($"goal-state-selector {StateToClass(State)} {(IsToday ? "" : "waiting")}")
                        Type="@ButtonType.Default"
                        OnClick="args => _popover.OnClickDiv(args)"
                        OnClickStopPropagation
                        Style="z-index: 10">
                        @Text
                    </Button>
                </LottieWrapper>
            </LottieWrapper>
        </ChildContent>
        <ContentTemplate>
            <GoalStatePopoverContent
                Date="@Date"
                State="@State"
                HasEmergencyGoal="@HasEmergencyGoal"
                OnStateButtonClick="OnStateButtonClick"/>
        </ContentTemplate>
    </Popover>
</div>

@code {

    private RenderFragment StateButton(GoalState state, string name, Color color, string type = ButtonType.Primary) =>
        @<SpaceItem>
            <Button
                Block
                Type="@type"
                Color="@color"
                OnClick="() => OnStateButtonClick(state)">
                @name
            </Button>
        </SpaceItem>;

}

@code {

    private LottieWrapper _animation;
    private LottieWrapper _animation2;
    private Popover _popover;

    [Parameter]
    public DateTime Date { get; set; } = DateTime.Today;

    [Parameter]
    public GoalState State { get; set; }

    [Parameter]
    public EventCallback<GoalState> StateChanged { get; set; }

    [Parameter]
    public string Text { get; set; } = "MON";

    [Parameter]
    public bool IsToday { get; set; } = true;

    [Parameter]
    public bool HasEmergencyGoal { get; set; }

    public void PlaySuccessAnimation()
    {
        _animation.Play();
    }
    
    public void PlaySuccessAnimation2()
    {
        _animation.Play();
        _animation2.Play();
    }

    private async Task OnStateButtonClick(GoalState state)
    {
        State = state;
        await _popover.Close();
        await StateChanged.InvokeAsync(state);
    }

    private static string StateToClass(GoalState state)
        => state switch
        {
            GoalState.Unknown => "unknown",
            GoalState.Success => "success",
            GoalState.Failure => "failure",
            GoalState.Emergency => "emergency",
            _ => "error"
            };

}