@using Serilog
@using BeProductive.Modules.Utils.FluentScheduler
@using System.Text.RegularExpressions
@implements IDisposable

@if (!string.IsNullOrEmpty(_title))
{
    <PageHeader Class=@($"page-header {(string.IsNullOrEmpty(Layout.Title) ? "hidden" : "")}") Title="@_title" Subtitle="@_subtitle">
        <TitleTemplate>
            <div style="display: flex; width: 100%">
                <Button
                    Class="menu-button"
                    Type="@ButtonType.Text"
                    Size="@ButtonSize.Large"
                    Shape="@ButtonShape.Circle"
                    Icon="@(_showBackButton ? IconType.Outline.ArrowLeft : IconType.Outline.MenuUnfold)"
                    OnClick="OnButtonClick"/>
                @_title
                @if (_extraContent is not null)
                {
                    <div style="flex: 1">
                        @_extraContent
                    </div>
                }
            </div>
        </TitleTemplate>
    </PageHeader>
    <PageTitle>@Layout.Title - beProductive</PageTitle>
}
else
{
    <PageTitle>beProductive</PageTitle>
}


@* TODO: Separate file *@
<style>
    .ant-page-header-heading-left, .ant-page-header-heading-title {
        width: 100%;
    }
    
    .ant-page-header-heading-title, .ant-page-header-heading-sub-title {
        margin: 0;
    }

    .page-header {
        margin-top: 0;
        transition: margin-top 0.3s ease-in-out;
    }

    .page-header.hidden {
        margin-top: -72px;
    }
    
    .menu-button {
        display: none;
        margin-right: 0.25rem;
    }
    
    .menu-button .anticon {
        transform: scale(1.5);
    }
    
    @@media(max-width: 768px) {
        .menu-button {
            display: inline-block;
        }
        
        .page-header {
            padding-left: 16px;
            padding-right: 16px;
        }
    }
</style>

@code {

    private string _title = "";
    private string _subtitle = "";
    private bool _showBackButton = false;
    private RenderFragment? _extraContent = null;
    private Job? _updateJob = null;

    [CascadingParameter]
    public AuthenticationState AuthenticationState { get; set; }

    [Parameter]
    public EventCallback OnMenuClicked { get; set; }

    public event Action? OnBackButtonClicked;

    protected override void OnInitialized()
    {
        Layout.OnUpdate += OnUpdate;
        NavigationManager.LocationChanged += OnNavigation;
    }

    private string _lastLocation = "";

    // TODO: Might need optimizing
    private void OnNavigation(object? sender, LocationChangedEventArgs e)
    {
        var trimmedLocation = Regex.Match(e.Location, @"^(.*)[?]?").Groups[1].Value;
        // Log.Warning("not trimmed: {a}", e.Location);
        // Log.Warning("trimmed: {a}", trimmedLocation);
        if (trimmedLocation != _lastLocation)
        {
            _lastLocation = trimmedLocation;
            Layout.ExtraContent = null;
            _extraContent = null;
        }
    }

    private void OnUpdate()
    {
        // Log.Warning("OnUpdate");
        if (!string.IsNullOrEmpty(Layout.Title))
        {
            _title = Layout.Title ?? "";
            _subtitle = Layout.Subtitle ?? "";
            _showBackButton = Layout.ShowBackButton;
            _extraContent = Layout.ExtraContent;
        }

        if (_updateJob is not null)
        {
            _updateJob.Stop();
            _updateJob = null;
        }

        _updateJob = JobHelper.AddJob(() => {
            // Log.Warning("State has changed!");
            InvokeAsync(StateHasChanged);
        }, (s) => s.ToRunOnceAt(DateTime.Now.AddSeconds(0.05)));
    }

    private Task OnButtonClick()
    {
        if (_showBackButton)
        {
            OnBackButtonClicked?.Invoke();
            return Task.CompletedTask;
        }
        else
        {
            return OnMenuClicked.InvokeAsync();
        }
    }

    public void Dispose()
    {
        Layout.OnUpdate -= OnUpdate;
        NavigationManager.LocationChanged -= OnNavigation;
    }

}