@using System.Security.Principal
@using BeProductive.Modules.Settings.Presentation.Components
@using Serilog
@inject AuthService AuthService
@implements IDisposable

<Sider @ref="_sider" Width="200" Style="overflow: auto; height: 100vh; position: fixed; left: 0; z-index: 100" Breakpoint="BreakpointType.Sm" CollapsedWidth="0" OnBreakpoint="OnBreakpoint">
    <div class="sidebar">
        <div class="logo">
            <div class="logo-link">
                <Button
                    Class="sidebar-menu-button"
                    Type="@ButtonType.Text"
                    Size="@ButtonSize.Large"
                    Shape="@ButtonShape.Circle"
                    Icon="@IconType.Outline.MenuFold"
                    OnClick="() => _sider.ToggleCollapsed()"/>
                <a href="/">
                    <h1>beProductive</h1>
                </a>
            </div>
        </div>
        <Menu Class="menu" Mode="@MenuMode.Inline">
            @foreach (var (name, route) in MenuItems.Items)
            {
                <MenuItem RouterLink="@route" RouterMatch="NavLinkMatch.Prefix" Title="@name"/>
            }
        </Menu>
        <div class="footer">
            <div>
                @if (_userIdentity is not null)
                {
                    <Popover @ref="_popover" Trigger="new[] { Trigger.Click }">
                        <ContentTemplate>
                            <Space Direction="DirectionVHType.Vertical" Align="center" Size=@("0")>
                                <SpaceItem Style="width: 100%">
                                    <Button Block Type="@ButtonType.Text" OnClick=@(() => NavigationManager.NavigateTo("/account"))>Account</Button>
                                </SpaceItem>
                                <SpaceItem Style="width: 100%">
                                    <Button Block Type="@ButtonType.Text" OnClick="OnSettingsClick">Settings</Button>
                                </SpaceItem>
                                <SpaceItem Style="width: 100%">
                                    <Button Block Type="@ButtonType.Text" Danger OnClick="OnLogoutClick">Logout</Button>
                                </SpaceItem>
                            </Space>
                        </ContentTemplate>
                        <ChildContent>
                            <a style="display: flex; align-items: center; justify-content: center; padding: 0.2rem;">
                                <Avatar Style="background: #278dff" Icon="user" Size="small"/>
                                <Text Strong Style="margin-left: 5px; font-size: 16px; margin-bottom: 2px">@_userIdentity.Name</Text>
                            </a>
                        </ChildContent>
                    </Popover>
                }
                else
                {
                    <Text>Not logged in</Text>
                }
            </div>
            <Text Type="@TextElementType.Secondary">@_version</Text>
        </div>
    </div>
</Sider>

@code {

    private Sider _sider;
    private Popover? _popover;

    [CascadingParameter]
    public SettingsDrawer SettingsDrawer { get; set; }

    private string _version = "";

    private IIdentity? _userIdentity;

    private bool _isMobile = false;

    protected override async Task OnInitializedAsync()
    {
        NavigationManager.LocationChanged += OnLocationChanged;

        _version = $"v{ThisAssembly.Info.Version} ({ThisAssembly.Info.Configuration})";

        _userIdentity = await AuthService.GetAuthState();
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs args)
    {
        if (_isMobile)
        {
            _sider.Collapsed = true;
        }
        _popover?.Close();
        InvokeAsync(StateHasChanged);
    }

    private async Task OnLogoutClick()
    {
        await AuthService.Logout();
    }

    private void OnSettingsClick()
    {
        if (_isMobile)
        {
            _sider.Collapsed = true;
        }
        SettingsDrawer.Open();
        _popover?.Close();
    }

    public void ToggleMenu()
    {
        _sider.ToggleCollapsed();
    }

    private void OnBreakpoint(bool isMobile)
    {
        _isMobile = isMobile;
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }

}